*,
  *::before,
  *::after {
    box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: var(--clr-txt);
  background-color: var(--clr-bg);
}
html:focus-within {
   scroll-behavior: smooth;
}
html, body {
  font-size:calc(12px + 1.5svw);
}
:root {
  --clr-bg: snow;
  --clr-txt: black;
  --clr-sec: rgba(0,255,255,.8);
  --button-clr: #919191;
  --button-select: #7360ff;
  --line-clr: purple;
  --fade-time: .3s;
  --contain-width: 800px;
}
body {
  background: linear-gradient(90deg, white 10%, var(--clr-sec));
}
#logo {
  height: 100px;
  top: 0;
  position: relative;
}
#logo img {
  display: block;
  height: 100%;
  aspect-ratio: 1;
  margin-inline: auto;
  margin-top: .5em;
}
h2 {
  user-select: none;
}
.container {
  border-radius: 1.2rem;
  box-shadow: 0 .06rem 1rem rgba(0,0,0,0.1);
  padding: 2em;
}
#nav-active {
  display: none;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 3em;
  height: 3em;
  background: var(--clr-bg);
  border: 2px solid black;
  border-radius: 1em;
}
#nav-active:hover {
  background: silver;
  color: white;
  cursor: pointer;
}
.tab_box {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(229, 229, 229);
}
.tab_box > * {
  min-width: 0;
}
.tab_box .tab_btn {
  background: none;
  font-size: 0.7em;
  font-weight: 600;
  color: var(--button-clr);
  border: none;
  padding: 0.8em;
  cursor: pointer;
}
.tab_btn:hover {
  background: silver;
  color: var(--clr-bg);
}
.content-box {
  padding: .8em;
}
.content {
  background-color: rgba(0, 255, 255, 0.08);
  padding: 0.6em;
}
.content-box .content {
  display: none;
  animation: moving var(--fade-time) ease;
}
.content-box .content h2 {
  font-size: 1.2rem;
  margin-bottom: .6rem;
  background: inherit;
}
.content-box .content.active {
  display: block;
}
.tab_box .tab_btn.active {
  color: var(--clr-select);
}
#active-line {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--line-clr);
  border-radius: 10px;
  height: 5px;
  width: 5%;
  transition: all var(--fade-time) ease-in-out;
}
.content-ico {
  max-width: 20%;
}
.content-ico > img {
  width: 100%;  
  height: auto;
}
p {
  font-size: .8rem;
  font-weight: 300;
}
@keyframes moving {
  from{transform: translateX(50px);opacity: 0;}
  to {transform: translateX(0px); opacity: 1;}
}
@media (orientation: portrait) {
  .tab_box {
    display: none;
  }
  #nav-active {
    display: block;
  }
  .tab_box[active] {
    display: grid;
		position: fixed;
		right: 3em;
		width: fit-content;
		background: rgba(195, 195, 195, .2);
		transition: display 1s;
		/*
		position: default;
		margin-right: 2em;
		margin-left: auto;
		*/
  }
	.content-box {
		max-width: 90%;
	}
  ol > li {
    padding: .5em 0;
  }
}
